
@tailwind base;
@tailwind components;
@tailwind utilities;


/* En la raíz del documento, creamos una variable con el color azul */
:root{
    --azul:#7dbaff;
}

/* Para todo el documento, le quitamos todas las decoraciones por defecto y cambiamos la fuente a 'Nunito' */
*{
    font-family:'Nunito';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

/* Cuando se seleccione cualquier parte del texto se mostrara de color azul con el texto cambbiado a blanco */
*::selection{
    background:var(--azul);
    color:#fff;
}

/* Para todo el documento html, le ponemos un estilo de fuente, scroll suave, y un overflow:hidden para */
/* que todo lo que sobrepase de la página se esconda  */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
